# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/*.log

# Secrets / env
.env
.env.*

# Data artifacts
*.parquet
*.delta

# Power BI project local artifacts
**/.pbi/localSettings.json
**/.pbi/cache.abf
